html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  background: -moz-linear-gradient(top, #00a388 0%, #79bd8f 100%);
  background: -webkit-linear-gradient(top, #00a388 0%, #79bd8f 100%);
  background: linear-gradient(to bottom, #00a388 0%, #79bd8f 100%);

  font-family: Century Gothic, sans-serif;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 110%;
  color: white;
  -webkit-font-smoothing: antialiased;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -ms-touch-action: none;
  touch-action: none;

  -webkit-touch-callout: none;
  -ms-touch-callout: none;
}

#header {
  margin: 0 auto;
  position: relative;
  height: 32px;
  line-height: 32px;
  margin-bottom: 3px;
  padding-left: 2px;
  white-space: nowrap;
  opacity: 0;
}

#menu {
  position: absolute;
  height: 32px;
  width: 32px;
  right: 4px;
  top: 2px;
}

#level-title > span {
  font-weight: normal;
  font-style: italic;
  margin-left: 10px;
}

#status {
  text-align: center;
  margin-top: 5px;
  padding-bottom: 15px;
  opacity: 0;
}

#game {
  margin: 0 auto;
  width: 100%;
  display: block;
}

#footer {
  position: fixed;
  bottom: 0px;
  height: 60px;
  width: 100%;
  text-align: center;
}

.nav-icon {
  height: 50px;
  width: 50px;
  padding: 0 10px 0 10px;
}

#prev-level, #next-level {
  opacity: 0;
}

/*
  CSS Animations
*/
.bounce-right {
  animation-duration: .3s;
  animation-name: bounce-right;
  animation-iteration-count: 1;
}

@keyframes bounce-right {
  from {
    transform: translateX(0);
  }
  50% {
     transform: translateX(10px);
  }
  to {
    transform: translateX(0);
  }

}

.bounce-left {
  animation-duration: .3s;
  animation-name: bounce-left;
  animation-iteration-count: 1;
}

@keyframes bounce-left {
  from {
    transform: translateX(0);
  }
  50% {
     transform: translateX(-10px);
  }
  to {
    transform: translateX(0);
  }

}

.rotate-reload {
  animation-duration: .5s;
  animation-name: rotate-reload;
  animation-iteration-count: 1;
  transform-origin: 38px 26px;
}

@keyframes rotate-reload {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }

}

/*
  Dialogs
*/
.dialog {
  position: absolute;
  font-weight: normal; 
  background-color: rgba(64, 89, 82, 0.90);
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  text-align: center;
  width: 100%;
  display: none;
}

a {
  color: #ff974f;
}

#level-finish-dialog {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
}

.level-finish-level-star {
  height: 50px;
  width: 50px;
}

#about-dialog {
  top: 35px;
}

#no-more-levels {
  display: none;
}

#svg-logo-icon {
  position: absolute;
  height: 50px;
  width: 50px;
  margin-left: -60px;
  margin-top: -12px;
}

#how-to-play-dialog {
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);  
}

#example-animation-bg {
  background: -moz-linear-gradient(top, #00a388 0%, #79bd8f 100%);
  background: -webkit-linear-gradient(top, #00a388 0%, #79bd8f 100%);
  background: linear-gradient(to bottom, #00a388 0%, #79bd8f 100%);
  display: inline-block;
}

#example-animation {
  width: 300px;
  height: 300px;
  background: url('../img/level-solve-sprite.png');
  animation: play-example 5s steps(6) infinite;
  animation-delay: .5s;
}

@keyframes play-example {
  from { background-position:    0px; }
  to { background-position: -1800px; }
}